.beneficiaries-container {
    margin-bottom:  80px;
    &__form-section {
        background-color: #fff;
        margin-bottom: 80px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        &__resources {
            width: 100%;
            height: auto;
            padding: 20px 0;
            box-sizing: border-box;
            display: flex;
            border-bottom: 2px solid #f0f3f5;

            &__foto {
                width: 50%;
                height: 200px;
                display: flex;
                align-items: center;
                gap: 10px;

                &__image {
                    width: 200px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    border: 4px solid #a8aaae;
                    border-radius: 5px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .btn-image {
                    width: 250px;

                    &--capture {
                        background-color: #03a9f4;
                        color: #fff;

                        &:hover {
                            background-color: #03a9f4;
                        }
                    }

                    &--upload {
                        border-radius: 5px;
                        text-align: center;
                        padding: 8px;
                        font-family: "Roboto","Helvetica","Arial",sans-serif;
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.75;
                        letter-spacing: 0.02857em;
                        text-transform: uppercase;
                        background: #449d44;
                        color: #fff;
                        cursor: pointer;
                    }

                    &--delete {
                        background-color: #f1f1f2;
                        color: #a8aaae;
                    }
                }
            }
        }

        &__beneficiarie {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: calc(100% - 280px);
            gap: 20px;

            &__section {
                overflow: scroll;
            }

            &__form {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(3, calc((100% - 20px) / 3));
                gap: 10px;
                overflow: auto;
                padding: 10px 0;

                &__field {
                    width: 100%;

                    &__input {
                        width: 100%;
                    }
                }
            }
        }
        .btn-save-beneficiarie {
            background-color: #03a9f4;
            color: #fff;
            width: 200px;
        
            &:hover {
                background-color: #03a9f4;
            }
        }
    }

}

#primerap, #segundoap, #primernom , #segundonom , 
#tipo_de_documento, #genero , #estado_civil, 
#pertenencia_etnica, #nivel_educativo, #ocupacion, #discapacidad, #departamento, 
#municipio, #comuna, #asociacion, #direccion, #departamento_SISBEN, #eps, #puntajesisben,#regimen_salud{
    text-transform: uppercase;
}

.set__file{
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 7px;
    font-size: 14px;
    cursor: pointer;
}

.css-etzunb-MuiCardMedia-root{
    background-size: 60% !important;
    height: 85px !important;
    width: 190px !important;
    cursor: pointer;
    border-radius: 9px;
}

.content-supports{
    min-height: 200px;
    justify-content: center;
    gap: 50px;
}
.content-supports > div {
    box-shadow: none;
    overflow: unset !important;
}
.css-46bh2p-MuiCardContent-root{
    padding: 0 !important;
}
.css-46bh2p-MuiCardContent-root > div{
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: #218eb3;
    border-bottom: 1px solid #f1f1f2;
    padding-bottom: 10px;
}

.css-1t6e9jv-MuiCardActions-root{
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    gap: 10px;
}
.css-1t6e9jv-MuiCardActions-root > label{
    width: 50%;
    margin: 0 !important;
    font-weight: bold;
    text-align: center;
    border-radius: 4px !important;
    border: 1px solid #e1e1e1;
    padding: 10px 10px;
    background-color: #f1f1f2;
    color: #707070;
    
}

.css-1t6e9jv-MuiCardActions-root > label:last-child{
    
    
}

@keyframes camera {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}


.content-webcam {
    position: fixed;
    cursor: pointer;
    background: rgb(255 255 255 / 94%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 135;
    align-items: center;
    justify-content: center;
    transition: display 2s;


    & video {
        width: 30%;
        border-radius: 10px;
        box-sizing: border-box;
        border: 11px solid #deedff9c;
        transition-timing-function: cubic-bezier(.42, 0, .58, 1);
        animation-duration: 1s;
        animation-name: camera;


    }
}
.video__capture__supports{
    width: 38% !important;
}


.content-image {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;


    &__borde-image {
        border: 10px solid #f1f1f2;
        border-radius: 4px;
        width: 200px;
        height: 200px;
    }

    &__image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.connected-border {
    border-color: rgb(3, 231, 235);
    border-style: dashed;
    border-width: 4px;
}

.disconnected-border {
    border-color: rgb(254, 129, 129);
    border-width: 4px;

    // border-style: dashed;
    /* Change this to the color you want for disconnected devices */
}

.acquired-border {
    border-color: rgb(57, 253, 57);
    border-style: dashed;
    border-width: 4px;

    /* Change this to the color you want when samples are acquired */
}

.fingerprint-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}