.delivery-container {
    .btn-counter-action {
        border: 1px solid;
        border-radius: 2px;
        background-color: #fafafb;
    }
    
    .btn-save-delivery {
        background-color: #03a9f4;
        color: #fff;
        width: 200px;
    
        &:hover {
            background-color: #03a9f4;
        }
    }
}