@import '../../styles/colors.scss';

.login-view {
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &__image-container {
        height: 100%;
        width: 50%;
        background-color: #098ab5 ;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }
    }

    &__login-form {
        height: 100%;
        width: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        &__card {
            width: 80%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            &__logo {
                width: 300px;
            }

            &__form-container {
                display: flex;
                flex-direction: column;
                gap: 36px;
                width: 50%;
            }
        }
    }
}