.dashboard-layout {
    display: flex;

    &__side-bar-container {
        z-index: 999;
    }

    &__drawer {
        width: 240px;
        flex-shrink: 0;
    }

    &__body-content {
        // padding: 10px;
        position: absolute;
        top: 66px;
        left: 207px;
        height: calc(100% - 66px);
        width: calc(100% - 207px);
    }

    &__top-bar-container {
        top: auto;
        bottom: 0;

        &__tool-bar {
            justify-content: space-between;

            &__image {
                width: 40px;
                height: 40px;
                border: '50%';
            }
        }
    }
}