$primary_color: #f6ce48;;
$secondary_color: #4e8520;
$warning: #cfa827;
$success: #8bdf47;
$error: #e11134;
$notification: #4FA6DA;
$darkgrey: #474747;
$mediumgrey: #7D7D7D;
$lightgrey: #BCBCBC;       
