.winerie-container {

    &__form-section {
        background-color: #fff;
        height: 100vh;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        &__table {
            height: 250px;
            overflow: scroll;
            margin-top: 20px;
        }
    }

    .btn-save-winerie {
        background-color: #449d44 !important;
        color: #fff;
        width: 200px;
        position: relative;
        left: 20px;
        bottom:80px;

        &:hover {
            background-color: #03a9f4;
        }
    }

    .btn-cancel-winerie {
        background-color: #03a9f4;
        color: #fff;
        width: 200px;
        position: relative;
        left: 20px;
        bottom:80px;

        &:hover {
            background-color: #03a9f4;
        }
    }
}