.table-component {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background: #fafafb;

    & thead {
        position: sticky;
        top: 0;
        z-index: 1;

        >tr>td {
            padding: 10px;
            line-height: 30px;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            color: #607d8b;
            text-align: center;
        }
    }
    & tbody tr{
        cursor: pointer;
    }
    & tbody tr td {
        padding: 5px 15px;
        vertical-align: middle;
        border-width: 0;
        border-top: 1px solid #e1eaef;
        font-size: 13px;
        position: relative;
        transition: 1s all ease;
        text-align: center;
    }
    

    & tbody tr:hover{
        box-shadow: 0px 0px 13px 1px #0000001f;
    }

    .table-header-row {
        background-color: #f6f6f6;
    }
}