.table-component {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }

    th {
        background-color: #f0f0f0;
        font-weight: bold;
    }

    .table-header-row {
        background-color: #757575;
        color: white;
    }
      
      /* Estilos para las filas de datos */
    .table-data-row {
        background-color: white;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}
