.table-empty-state {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.create-button-section {
    display: flex;
    align-items: center;
    gap: 20px;
}