.save-container {
  border-top: 1px solid #dcd9d9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  width: calc(100% - 330px);
  position: fixed;
  bottom: 0;
  height: auto;
  padding: 10px 0;
  z-index: 98;
  display: flex;
  gap: 10px;

  .btn-save-winerie {
    background-color: #03a9f4;
    color: #fff;
    width: 200px;
    position: relative;
    left: 20px;

    &:hover {
      background-color: #03a9f4;
    }
  }

  .btn-cancel-winerie {
    background-color: #f1f1f2;
    color: #a8aaae;;
    width: 200px;
    position: relative;
    left: 20px;

    &:hover {
      background-color: #f1f1f2;
    }
  }
}

@media screen and (max-width: 1200px) {
  .save-container {
    width: calc(100% - 110px);
  }
}
